.list {
    border-radius: 30px;
    overflow: hidden;
    background: rgb(228, 225, 225);
    min-height: 500px;
}

.table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;

    input {
        text-align: center;
    }
}

.table th {
    font-weight: bold;
    padding: 10px;
    background: #efefef;
    border-bottom: 1px solid #dddddd;
}

.table tbody td {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 3px solid #dddddd;

}

.table-row {
    background: rgb(123, 123, 123);
}

.my-checkbox {
    transform: scale(2);
    margin-right: 11px;
}